body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 50vh;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.5em;
  background: #111;
  color: white;
}

.players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background: #000;
  color: white;
  flex: 1;
  gap: 10px;
  overflow-y: auto;
}

.player-card {
  background: #1a1a1a;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.95em;
}

.health-bar {
  background: #333;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.health-fill {
  background: limegreen;
  height: 100%;
}

.chat {
  width: 350px;
  height: 100%;
}

.label {
  color: #aaa;
  font-size: 0.8em;
}
